---
import NewsCard from "@components/NewsCard.astro";
import { getCollection } from "astro:content";

const news = await getCollection("news");

const items = news.map((n) => ({
  title: n.data.title,
  slug: n.data.slug,
  description: n.data.description,
  hero: n.data.hero,
}));
---

<section id="noticias" class="lg:max-w-[80%] mx-auto my-32">
  <h2 class="text-gray-600 font-bold text-center text-4xl">Noticias</h2>

  <section id="noticias" class="swiper news-swiper mt-10">
    <ul class="swiper-wrapper">
      {
        items.map((item) => (
          <li class="swiper-slide p-1">
            <NewsCard {...item} />
          </li>
        ))
      }
    </ul>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </section>
</section>

<script>
  import Swiper from "swiper";
  import { Autoplay, Navigation, Pagination } from "swiper/modules";

  const swiper = new Swiper(".news-swiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    freeMode: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: {
      delay: 5000,
    },
    breakpoints: {
      720: {
        slidesPerView: 2,
      },
      1240: {
        slidesPerView: 3,
      },
    },
    modules: [Pagination, Navigation, Autoplay],
  });

  const s = swiper.slidesPerViewDynamic();
</script>

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
