---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

import documentosPublicos from "@assets/images/documentospublicos.webp";

import PublicDocumentsList from "@components/PublicDocumentList.svelte";

const content = await getCollection("publicDocuments");

const publicDocuments = content.map((d) => d.data);
---

<section
  id="documentos publicos"
  class="bg-bg-primary min-h-screen flex py-16 gap-x-10 px-5"
>
  <header class="w-2/5 flex flex-col justify-between items-end">
    <h3 class="text-white text-4xl font-bold text-end">Documentos Publicos</h3>
    <Picture
      src={documentosPublicos}
      alt="documentos publicos"
      class="object-cover"
      width={700}
      height={700}
    />
  </header>
  <article class="w-3/5">
    <PublicDocumentsList documents={publicDocuments} client:visible />
  </article>
</section>
