---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

import documentosPublicos from "@assets/images/documentospublicos.webp";

import PublicDocumentsList from "@components/PublicDocumentList.svelte";

const content = await getCollection("publicDocuments");

const publicDocuments = content.map((d) => d.data);
---

<section
  id="documentos publicos"
  class="bg-bg-primary min-h-screen flex py-16 gap-x-10 lg:px-5"
>
  <header class="lg:w-2/5 lg:flex flex-col justify-between items-end hidden">
    <h2 class="text-white text-4xl font-bold text-end">Documentos Publicos</h2>
    <Picture
      src={documentosPublicos}
      alt="documentos publicos"
      class="object-cover"
      width={700}
      height={700}
    />
  </header>
  <article class="lg:w-3/5">
    <PublicDocumentsList documents={publicDocuments} client:visible />
  </article>
</section>
